
.pic{
	float: right;
    display: block;
    position: relative;
    width: 704px;
    /*left: -51px;*/
    height: 260px;
    max-height: 450px;
}


.details1,
.details2,
.details3,
.details4,
.details5,
.details6,
.details7,
.details8,
.details9,
.details10 {
	/*margin-left: 4%;*/
	margin-top:20px;
	border: solid 3px #e91e63;
	width: 100%;
	height: 265px;
	display:flow-root;
	background-color: #fb8c00;
}

body {
	background-color: #26c6da;
	color: #F7EFE2;
}


p{
	margin-left:5px;
	font-size: 15px;
	width:100%;
}
 
h2{
	margin-left: 31%;
    width: 1087px;
    height: 41px;

}

h4{
	margin-left: 6px;
    font-size: 25px;
    line-height: 110%;
    position: relative;
    display:block;
    width:400px;
}

a{
	margin-left: 5px;
	padding-bottom: 8px;
	color: #e91e63;
}
/*
.font-small{
	font-size:small;
}*/

.title {
	right: 25px;
}


@media screen and (max-width: 960px) {

	


}

@media screen and (max-width: 768px) {
	/*#navbar {
		position: static;
	}

	#logo {
		width: 100%;
		text-align: center;
	}

	li {
		float: left;
		width: 33%;
		text-align: center;
				
	}

	h4 {
		right: 35px;
	}

	#connect
	#aboutme, #porfolio {
		margin: 2%;
	}*/
}

@media screen and (max-width: 640px) {
	.title{
		right: 20px;
	}
}

