/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
 	background: url("../images/background.png");
 	background-repeat: no-repeat;
 }

.apiLogo {
	height: 50px;
	width: 50px;
	float: left;
	margin-left: 5px;
}


.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#search-button{
	margin-top:10px;
}

.footer-copyright {
	height: 80px;
}

#copyright {
	padding-top: 15px;
}


@media screen and (max-width: 960px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
	.title{
		right: 20px;
	}

	#city_search {
		font-size: 12px;
	}
}