/*.row */
#column {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
    width: 500px;
    background-color: #FF9300;
    color: white;

}

body{
	background-image: url(../images/cities.jpg);
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
	background-size: cover;
}

#city-form{
	background-color: #FF0057;
}

.center{
	color:white;
	font-size:small;
}

#mapBox {
	background-color: #FF9300;
	width: 400px;
	height: 400px;

}
